.menu {
    padding-top: 40px;

    a {

        span {
            padding-top: 6px;
            margin-bottom: 35px;
            display: block;

            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            text-transform: capitalize;
        }
    }
}
