.travel-slider {

  &__descr {

    .descr__head--lg {
      position: relative;
      padding-right: 215px;

      .travel__star-list {
        position: absolute;
        right: 0;
        top: 0;

        li {
          display: inline-block;
          margin-left: -25px;
        }

        img {
          position: static;
        }
      }
    }
  }
}



.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  display: block;
  border: none;
  background-color: transparent;

  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 45px;
}

.quantity-button.quantity-up {
  position: absolute;
  right: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  right: 25px;
}